.navigation {
  padding: 0 28px;
}

.item {
  display: inline-block;
  text-decoration: none;
  color: var(--colorBlack);
}

.logo {
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorDodgerBlue);
}
